.SearchBar {
    margin-bottom: 20px;
    padding: 0 20px;
}

.SearchBar input {
    font-size: 1.4rem;
    font-weight: bold;
    /* padding: 0 12px; */
    background: transparent;
    /* color: magenta; */
    display: block;
    width: 100%;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #999;
    letter-spacing: 0.01ch;
    box-sizing: border-box;
    height: 50px;
}

.SearchBar input::placeholder {
    color: #999;
}

.SearchBar input:focus::placeholder {
    color: #333;
}

.SearchBar input:focus {
    border-bottom: 2px solid magenta;
    color: #333;
}