.NavBar {
    display: flex;
    padding: 16px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.NavBar .logo {
    color: magenta;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.NavBar .ham-icon {
    background: transparent;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.NavBar .ham-icon svg {
    width: 100%;
    fill: #333;
}

.NavBar .side-menu {
    position: fixed;
    padding: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(105vw);
    transition: all 0.3s ease-out;
    text-align: right;
}

.NavBar .side-menu .close-icon {
    background: transparent;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.NavBar .side-menu .close-icon svg {
    width: 100%;
    fill: #333;
    transform: rotate(45deg);
}

.NavBar .side-menu nav {
    margin-top: 60px;
}

.NavBar .side-menu nav ul {
    list-style: none;
    text-align: right;
}

.NavBar .side-menu nav ul li {
    list-style: none;
}

.NavBar .side-menu nav ul li a {
    display: inline-block;
    font-weight: bold;
    padding: 5px 0px 5px 5px;
    margin: 10px 0;
    text-decoration: none;
    color: magenta;
    font-size: 1.2rem;
    letter-spacing: 0.01ch;
}

.NavBar .side-menu nav ul li .active {
    color: #333;
}